.editor {
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid transparent;
  margin-bottom: 24px;
}
.editor-focus {
  border: 1px solid #ddd;
  border-radius: 2px;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}
