body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  background-color: #fff;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(90 90 90 / 8%);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 172, 172);
}
